/* CSS Document */

#Container{
	width:250px;
}
#Sidebar{
	width:20%;
}
#SideBarR{
	width:10%;
}
#MainBody{
	width:70%;
}
#SideBar ul{
	list-style:none;
	padding:0 0 0 0;
	text-align:left;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	font-style:normal;
	color:#333;
	margin:0px;
}
